@model CMS.Models.Percel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="well">
    <h4 class="alert bg-primary text-center">Update Percel Information</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 col-md-offset-4 ">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" readonly class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" readonly class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceivingDate" class="control-label"></label>
                    <input asp-for="ReceivingDate" readonly class="form-control" />
                    <span asp-validation-for="ReceivingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SenderId" class="control-label"></label>
                    <select asp-for="SenderId" readonly class="form-control" asp-items="ViewBag.SenderId"></select>
                    <span asp-validation-for="SenderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverId" class="control-label"></label>
                    <select asp-for="ReceiverId" readonly class="form-control" asp-items="ViewBag.ReceiverId"></select>
                    <span asp-validation-for="ReceiverId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BranchId" class="control-label"></label>
                    <select asp-for="BranchId" readonly class="form-control" asp-items="ViewBag.BranchId"></select>
                    <span asp-validation-for="BranchId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-block" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
