@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/admin.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Atomic+Age" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Dashboard" class="navbar-brand"> Courier Management System</a>
            </div>

            <div class="collapse navbar-collapse sidenavC" id="myNavbar">
                @if (signInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i> Home</a>

                        <button class="dropdown-btn"><i class="fa fa-gift fa-lg fa-fw" aria-hidden="true"></i> Percel<span class="fa fa-caret-down"></span></button>
                        <div class="dropdown-container">
                            <a asp-area="" asp-controller="Percels" asp-action="GetAllPercels"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Percel List</a>
                            <a asp-area="" asp-controller="Percels" asp-action="ReceivePercelfromUser"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Receive from Customer</a>
                        </div>

                        <a asp-area="" asp-controller="Branches" asp-action="Index"><i class="fa fa-university fa-lg fa-fw" aria-hidden="true"></i> Branches</a>
                        <a asp-area="" asp-controller="Employees" asp-action="Index"><i class="fa fa-id-card-o fa-lg fa-fw" aria-hidden="true"></i> Employees</a>
                        <a asp-area="" asp-controller="Senders" asp-action="Index"><i class="fa fa-user-circle fa-lg fa-fw" aria-hidden="true"></i> Senders</a>
                        <a asp-area="" asp-controller="Receivers" asp-action="Index"><i class="fa fa-user-circle-o fa-lg fa-fw" aria-hidden="true"></i> Receivers</a>

                        <button class="dropdown-btn"><i class="fa fa-user-o fa-lg fa-fw" aria-hidden="true"></i> User<span class="fa fa-caret-down"></span></button>
                        <div class="dropdown-container">
                            <a asp-area="" asp-controller="Account" asp-action="RegisterIndex"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Registered User</a>
                            <a asp-area="" asp-controller="Account" asp-action="RoleIndex"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Role List</a>
                            <a asp-area="" asp-controller="Account" asp-action="AssignRole"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Assign Role</a>
                        </div>
                    }

                    if (User.IsInRole("Executive"))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i> Home</a>

                        <button class="dropdown-btn"><i class="fa fa-gift fa-lg fa-fw" aria-hidden="true"></i> Percel<span class="fa fa-caret-down"></span></button>
                        <div class="dropdown-container">
                            <a asp-area="" asp-controller="Percels" asp-action="Index"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Percel List</a>
                            <a asp-area="" asp-controller="Percels" asp-action="ReceivePercelfromUser"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Receive from Customer</a>
                        </div>

                        <a asp-area="" asp-controller="Branches" asp-action="Index"><i class="fa fa-university fa-lg fa-fw" aria-hidden="true"></i> Branches</a>
                        <a asp-area="" asp-controller="Employees" asp-action="Index"><i class="fa fa-id-card-o fa-lg fa-fw" aria-hidden="true"></i> Employees</a>
                        <a asp-area="" asp-controller="Senders" asp-action="Index"><i class="fa fa-user-circle fa-lg fa-fw" aria-hidden="true"></i> Senders</a>
                        <a asp-area="" asp-controller="Receivers" asp-action="Index"><i class="fa fa-user-circle-o fa-lg fa-fw" aria-hidden="true"></i> Receivers</a>

                        @*<button class="dropdown-btn"><i class="fa fa-user-o fa-lg fa-fw" aria-hidden="true"></i> User<span class="fa fa-caret-down"></span></button>
                        <div class="dropdown-container">
                            <a asp-area="" asp-controller="Account" asp-action="RegisterIndex"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Registered User</a>
                            <a asp-area="" asp-controller="Account" asp-action="RoleIndex"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Role List</a>
                            <a asp-area="" asp-controller="Account" asp-action="AssignRole"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Assign Role</a>
                        </div>*@
                    }
                }

                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="navbar navbar-inverse navbar-fixed-top hidden-xs">

                <a asp-controller="Home" asp-action="Dashboard" class="navbar-brand"> Courier Management System</a>

                @await Html.PartialAsync("_LoginPartial")
            </div>

            <div class="sidenav hidden-xs">
                <br />
                @if (signInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i> Home</a>

                        <button class="dropdown-btn"><i class="fa fa-gift fa-lg fa-fw" aria-hidden="true"></i> Percel<span class="fa fa-caret-down"></span></button>
                        <div class="dropdown-container">
                            <a asp-area="" asp-controller="Percels" asp-action="GetAllPercels"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Percel List</a>
                            <a asp-area="" asp-controller="Percels" asp-action="ReceivePercelfromUser"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Receive from Customer</a>
                        </div>

                        <a asp-area="" asp-controller="Branches" asp-action="Index"><i class="fa fa-university fa-lg fa-fw" aria-hidden="true"></i> Branches</a>
                        <a asp-area="" asp-controller="Employees" asp-action="Index"><i class="fa fa-id-card-o fa-lg fa-fw" aria-hidden="true"></i> Employees</a>
                        <a asp-area="" asp-controller="Senders" asp-action="Index"><i class="fa fa-user-circle fa-lg fa-fw" aria-hidden="true"></i> Senders</a>
                        <a asp-area="" asp-controller="Receivers" asp-action="Index"><i class="fa fa-user-circle-o fa-lg fa-fw" aria-hidden="true"></i> Receivers</a>

                        <button class="dropdown-btn"><i class="fa fa-user-o fa-lg fa-fw" aria-hidden="true"></i> User<span class="fa fa-caret-down"></span></button>
                        <div class="dropdown-container">
                            <a asp-area="" asp-controller="Account" asp-action="RegisterIndex"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Registered User</a>
                            <a asp-area="" asp-controller="Account" asp-action="RoleIndex"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Role List</a>
                            <a asp-area="" asp-controller="Account" asp-action="AssignRole"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Assign Role</a>
                        </div>
                    }

                    if (User.IsInRole("Executive"))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i> Home</a>

                        <button class="dropdown-btn"><i class="fa fa-gift fa-lg fa-fw" aria-hidden="true"></i> Percel<span class="fa fa-caret-down"></span></button>
                        <div class="dropdown-container">
                            <a asp-area="" asp-controller="Percels" asp-action="Index"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Percel List</a>
                            <a asp-area="" asp-controller="Percels" asp-action="ReceivePercelfromUser"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Receive from Customer</a>
                        </div>

                        <a asp-area="" asp-controller="Branches" asp-action="Index"><i class="fa fa-university fa-lg fa-fw" aria-hidden="true"></i> Branches</a>
                        <a asp-area="" asp-controller="Employees" asp-action="Index"><i class="fa fa-id-card-o fa-lg fa-fw" aria-hidden="true"></i> Employees</a>
                        <a asp-area="" asp-controller="Senders" asp-action="Index"><i class="fa fa-user-circle fa-lg fa-fw" aria-hidden="true"></i> Senders</a>
                        <a asp-area="" asp-controller="Receivers" asp-action="Index"><i class="fa fa-user-circle-o fa-lg fa-fw" aria-hidden="true"></i> Receivers</a>

                        @*<button class="dropdown-btn"><i class="fa fa-user-o fa-lg fa-fw" aria-hidden="true"></i> User<span class="fa fa-caret-down"></span></button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="Account" asp-action="RegisterIndex"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Registered User</a>
                    <a asp-area="" asp-controller="Account" asp-action="RoleIndex"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> Role List</a>
                    <a asp-area="" asp-controller="Account" asp-action="AssignRole"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Assign Role</a>
                </div>*@
                    }
                }
                <br />
            </div>
  
            <div class="body-content">
                @RenderBody()
            </div>         
        </div>
    </div>

    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
