@model CMS.Models.PercelLocation
@{
    ViewData["Title"] = "SearchPercelLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchPercelLocation</h2>

<form asp-action="SearchPercelLocation" class="form-inline">
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <label  class="control-label">Percel ID :</label>
    <input name="id" class="form-control" placeholder="Search by Percel ID" />
    <input type="submit" value="Search" class="btn btn-success form-control" />
    @*<span asp-validation-for="PercelId" class="text-danger"></span>*@
</form>